.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

button {
    width: 90px;
}

img {
    width: 50%;
}

.banniere {
    display: flex;
    justify-content: center;
}